iframe {
	width: 700px;
	height: 500px;
}
label {

	margin-right: 5px;
	margin-left: 10px;
}
img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
body {
	background: #666666 url(../assets/bg-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;

}
.add-top-margin {
	margin-top: 40px;
}
.add-bottom-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.add-line {
	width: 50%;
	height: 60px;
	border-bottom: 3px solid white;
}
.add-margin {
	margin-right: auto;
	margin-left: auto;
}
.well {
	margin:47px;
}
.half-height {
	height: 300px;
	color: white;
	font-family: fantasy;
	padding: 100px;
	font-size: 80px;
	background: #4F364C;
}
.nav-bar {
	height: 50px;
	color: white;
	font-family: fantasy;
	padding:5px;
	font-size: 30px;
	background: #4F364C;
}
.half-height-2 {
	height: 100%;
	background: #8F9E6F;
	border-top: 5px solid #B1CF72;
}
.half-height-2-mod {
	height: 730px;
	background: #8F9E6F;
	border-top: 5px solid #B1CF72;
}
.btn-blue {
	font-family: 'Roboto Slab', serif;
	height: 50px;
	width3: 200px;
	background: #28a9e1;
	color: white;
	border: 1px solid #28a9e1;
	border-radius: 3px;
	border-bottom: 3px solid #0a90bf;
}
.btn-forest-2 {
	height: 35px;
	width: 300px;
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 40px;
	background: #5E405F;
	color: white;
}
.forest-mod {
	width: 150px;
}
.input-style {
	margin-bottom: 3px;
	height: 30px;
	width: 300px;
}
.sizing {
	width: 120px;
	font-size: 15px;
}
.btn-change {
	height: 25px;
}
.go-white {
	font-family: 'Roboto Slab', serif;
	color: white;
}
a {
	color: white;
}
.errors {
	color: red;
	font-weight: bold;
}
.success {
	color: green;
	font-weight: bold;
}
.med-font {
	font-size: 18px;
}
.take-margin {
	margin-top: -10px;
}
.nav-tabs {
	color: #4F364C;
	height: 50px;
}
.active {
	color: #4F364C;
	background: #4F364C;
}
.set-dimensions {
	height:300px;
	padding: 30px;
}
.set-width {
	width: 155px;
	margin-left: auto;
	margin-right: auto;
}
.style-heading {
	font-size: 20px;
}
select {
  border: 1px solid #111;
  background: #4F364C;
  padding: 5px 35px 5px 5px;
  font-family: fantasy;
  border: 1px solid #ccc;
  height: 34px;
  color: white;
}
@media(min-width:1200px){
	.change-font {
		font-size:25px;
	}
}
@media(max-width:1010px){
	body {
		background: #666666 
	}
	#banner {
		background: #666666 url(../assets/bg-image.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		font-family: 'Raleway', sans-serif;
		line-height: 1.6;
	}
}
@media(min-width:991px){
	.add-padding {
		padding:20px;
	}
}

